*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-item{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header-item>:first-child{
  margin-right: auto;
}

.header-logo{
  height: 70px;
}

.nav-list{
  margin-left: auto;
  display: flex;
  margin-right: 0;
  line-height: 70px;
}

.nav-list-item{
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.nav-list-item>a{
  color: #fafafa;
  text-decoration: none;
}

.main-visual{
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size: cover;
  text-align: center;
  color: #fafafa;
}

.main-visual-text>h1{
  padding: 200px 0 10px 0;
  font-size: 64px;
}

.main-visual-text>p{
  font-size: 20px;
}


.portfolio{
  width: 100%;
  background-color: #eceff1;
  padding: 90px 0;
}

.portfolio>.content{
  width: 920px;
  margin: 0 auto;
  text-align: center;
}

h2{
  font-size: 32px;
  color: #000000;
}

.bar{
  height: 3px;
  width: 70px;
  margin: 8px auto 0 auto;
  border-top: solid #ec715f;
}

p{
  margin: 30px auto;
  font-size: 16px;
  color: #000000;
}

.images{
  display: flex;
  flex-wrap: wrap;
}

.images>.image:nth-child(n){
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.images>.image:nth-child(1){
  background-image: url(img/sketch.jpg);
}

.images>.image:nth-child(2){
  background-image: url(img/websuku.png);
}

.images>.image:nth-child(3){
  background-image: url(img/write.jpg);
}

.images>.image:nth-child(4){
  background-image: url(img/webcamp.png);
}

.images>.image:nth-child(5){
  background-image: url(img/talk.jpg);
}

.images>.image:nth-child(6){
  background-image: url(img/webcamp-mother.png);
}

.images>.image:nth-child(-n+3){
  margin-bottom: 10px;
}

.images>.image:nth-child(3n-1){
  margin-left: 10px;
  margin-right: 10px;
}

.feature{
  width: 980px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}

.feature>.content{
  display: flex;
}

.fa-solid{
  font-size: 60px;
}

h3{
  margin: 10px 0;
  font-size: 20px;
  color: #000000;
}

.feature>.content>.box{
  width: 320px;
}

.feature>.content>.box:nth-child(2){
  margin: 0 10px;
}

.box>p{
  margin: 0;
}

.profile{
  padding: 90px 0;
  background-color: #eceef1;
  text-align: center;
}

.profile>.content{
  width: 1024px;
  margin: 0 auto;
}

.sub-content{
  display: flex;
  justify-content: center;
}

.profile-icon{
  width: 512px;
}

.my-icon{
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-text{
  width: 512px;
}

.my-name>h3{
  margin: 0;
}

.my-name>p{
  margin: 5px 0 20px 0;
}

.my-skills>h3{
  margin: 0;
}

.my-skills>p{
  margin: 5px 0 0 0;
}